.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(238, 233, 233);
  background-color: #fff;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile {
  display: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: flex-end;
    border-bottom: 0.01em solid rgb(238, 233, 233);
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.menubtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
}

.menu-links {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  background-color: #fff;
}

.menu-links a {
  padding: 20px 20px;
  border-bottom: 0.01em solid rgb(238, 233, 233);
  margin-right: 0;
}

.menu-links-dropdown {
  background-color: rgb(194, 194, 194);
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}